include AUTHORS LICENSE README.rst
recursive-include goblin connection.py constants.py exceptions.py VERSION
recursive-include goblin/gremlin *.py
recursive-include goblin/models *.py *.groovy
recursive-include goblin/properties *.py
recursive-include goblin/relationships *.py
prune goblin/tests
prune examples
prune goblin/metrics
recursive-exclude goblin shell.py spec.py
